body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.top-portion {
    display: flex;
    flex-direction: column;
}

.header1 {
    display: flex;
}

