body {
    display: flex;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

img {
    color: white;
    background-color: lightgray;
    padding: 50px;
}

.body img {
    background-color: white;
    border: solid  #3882F6;
    border-radius: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    margin: 0px;
    border-style: none;
    border-radius: 5px;
}

.top-portion {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 0px 150px 50px;
}

.header1 {
    display: flex;
    justify-content: space-between;
}

.header1 > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header2 {
    display: flex;
    gap: 30px;
}

.header2 h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header2 p {
    font-size: 18px;
    color: #E5E7EB;
}

.body-a {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 200px 80px 200px;
}

.illustrations {
    display: flex;
    gap: 40px;
}

.body-b {
    background-color: #E5E7EB;
    padding: 50px 250px;
    
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    padding: 0px;
    margin-bottom: 10px;
}

.quote-attribute {    
    font-size: 20px;
    font-weight: 900;
    text-align: end;
    padding: 0px;
    margin: 0px;
}

.body-c {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

.call-sign {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    padding: 50px 100px;
    border-radius: 10px;
    gap: 150px;
    color: white; 
}

.action {
    font-weight: bold;
    font-size: 20px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.signup {
    padding: 0px;
    margin: 0px;
}

.call-sign button {
    border: 2px solid white;
    padding: 5px 20px;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding: 20px 0px 20px 0px;
}

.footer > p {
    color: #E5E7EB;
}







